## Title: Guidelime_ClassicWoWdotLive
## Author: ClassicWoW.live (converted by Marv)
## Version: 0.0.42
## Interface: 11303
## Dependencies: Guidelime
## Notes: ClassicWoW.live Leveling Guide for Solo players

