## Title: Guidelime_ClassicWoWdotLive_Rogue
## Author: ClassicWoW.live (converted by Marv)
## Version: 0.0.42
## Interface: 11302
## Dependencies: Guidelime
## Notes: ClassicWoW.live Leveling Guide Solo Rogue

